:root {
    --greenyellow: #d3ff5c;
    --black: rgb(32, 36, 37);
    --body: rgb(9, 11, 15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--black);
    margin: 0;
    padding: 0;
}

.header-image h1 {
    color: black;
    font-size: 50px;
}

header {
    background-image: url('https://previews.123rf.com/images/jegas/jegas1611/jegas161100018/68035424-energy-and-power-icons-set-header-or-footer-banner-sustainable-energy-generation-and-heavy-industry.jpg');
    background-size: cover;
    background-position: center;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto;
}

.item {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: var(--greenyellow);
    border-radius: 10px;
    transition: transform 0.3s ease;
    height: 700px;
}

.item:hover {
    transform: translateY(-5px);
}

.item img {
    width: 100%;
    height: 40%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content {
    padding: 20px;
}

.content h2 {
    margin-top: 0;
}

.content ul {
    list-style-type: none;
    padding: 0;
}

.content ul li {
    margin-bottom: 10px;
}

strong {
    color: #007bff;
}
